listeners.tcp.default = 5672
num_acceptors.tcp = 10
log.file.level = info
default_vhost = /
default_user = dinivas
default_pass = dinivas
default_user_tags.administrator = true
loopback_users = none
auth_mechanisms.1 = PLAIN
auth_mechanisms.2 = AMQPLAIN
auth_backends.1 = internal
queue_master_locator = client-local
management.cors.allow_origins.1 = *